# Python Lecture (October 17th, 2023)

Today we are going to review some of the basic of data scraping, cleaning and model generation in Python. This should cover the foundational elements needed to complete your final projects, with each individual project likely requiring some further (independent) investigation.

We are going to mainly be working with the following website on live COVID data: https://www.worldometers.info/coronavirus/#countries

## Web scraping basics

#### What is web-scraping?

The process of extracting data and information from an available website. We want to glean the .html code to collect information for further anaylsis.

We are going to extract data from the following website:

https://www.worldometers.info/coronavirus/#countries

In particular, we are going to do the following with the displayed data:
1. Load the relevant Python packages
2. Define our scraping tools
3. Find and collect the data stored in the raw .html
4. Initial data exploration

### Preliminaries

Packages we use:

The first set are somewhat general and all purpose packages you will likely need for all programming in python to handle numerics and analysis.

The second set are for plotting which we will see many examples of later and that you have used in your homework assignments.

The last set we will go over as we use them, mainly used for retrieving data from the web in a usable format.

In [1]:
#-----General------#
import numpy as np
import pandas as pd
import os
import sys
import math
import random

#-----Plotting-----#
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
import plotly.offline as py
py.init_notebook_mode(connected=True)
import seaborn as sns
# from pandas_profiling import ProfileReport

#-----Utility-----#
import itertools
import warnings
warnings.filterwarnings("ignore")
import re
import gc
from bs4 import BeautifulSoup as soup
from urllib.request import Request, urlopen
from datetime import date, datetime

LOOK_AT = 5 # Controls how many bars the user can see in the bar graph
AT_LEAST = 50 # Controls what rank a country must be in terms of total cases to be shown on the bar graph

First, we need to set our target url and utilize the above packages to retrieve the raw contents.

In [2]:
fname = 'https://www.worldometers.info/coronavirus/#countries'

# A standard method is to specify your webbrowser as the user agent, but can also leave argument blank
req = Request(fname, headers={'User-Agent': 'Safari'})
# req = Request(fname, headers={'User-Agent': 'Mozilla/5.0'})

webpage = urlopen(req)
page_soup = soup(webpage, "html.parser")
today = datetime.now()
today_str = "%s %d, %d" % (date.today().strftime("%b"), today.day, today.year)
yesterday_str = "%s %d, %d" % (date.today().strftime("%b"), today.day-1, today.year)
clean = True # optional parameter we use to decide if we want to parse strings as ints

So, what do we currently have in the "page_soup" variable?

In [3]:
print(page_soup)

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>COVID - Coronavirus Statistics - Worldometer</title>
<meta content="Daily and weekly updated statistics tracking the number of COVID-19 cases, recovered, and deaths. Historical data with cumulative charts, graphs, and updates." name="description"/>
<!-- Favicon -->
<link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
<link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
<link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
<link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
<link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
<link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
<link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
<link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
<link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
<link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/favicon/manifest.json" rel="manifest"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
<meta content="#ffffff" name="theme-color"/>
<!-- og image -->
<meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/wm16.css" rel="stylesheet"/>
<!-- font awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<!-- tables
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
 -->
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>
<!-- FREESTAR -->
<script data-cfasync="false" type="text/javascript">
  var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
</script>
</link></meta></head>
<body>
<!-- Google tag (gtag.js) -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-RWMC0N06EE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RWMC0N06EE');
</script>
<!-- Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
<!--
<script type="text/javascript" async=true>
(function() {
  var host = 'worldometers.info';
  var element = document.createElement('script');
  var firstScript = document.getElementsByTagName('script')[0];
  var url = 'https://quantcast.mgr.consensu.org'
    .concat('/choice/', 'Pd9JxUkvV0m7q', '/', host, '/choice.js');
  var uspTries = 0;
  var uspTriesLimit = 3;
  element.async = true;
  element.type = 'text/javascript';
  element.src = url;

  firstScript.parentNode.insertBefore(element, firstScript);

  function makeStub() {
    var TCF_LOCATOR_NAME = '__tcfapiLocator';
    var queue = [];
    var win = window;
    var cmpFrame;

    function addFrame() {
      var doc = win.document;
      var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

      if (!otherCMP) {
        if (doc.body) {
          var iframe = doc.createElement('iframe');

          iframe.style.cssText = 'display:none';
          iframe.name = TCF_LOCATOR_NAME;
          doc.body.appendChild(iframe);
        } else {
          setTimeout(addFrame, 5);
        }
      }
      return !otherCMP;
    }

    function tcfAPIHandler() {
      var gdprApplies;
      var args = arguments;

      if (!args.length) {
        return queue;
      } else if (args[0] === 'setGdprApplies') {
        if (
          args.length > 3 &&
          args[2] === 2 &&
          typeof args[3] === 'boolean'
        ) {
          gdprApplies = args[3];
          if (typeof args[2] === 'function') {
            args[2]('set', true);
          }
        }
      } else if (args[0] === 'ping') {
        var retr = {
          gdprApplies: gdprApplies,
          cmpLoaded: false,
          cmpStatus: 'stub'
        };

        if (typeof args[2] === 'function') {
          args[2](retr);
        }
      } else {
        queue.push(args);
      }
    }

    function postMessageEventHandler(event) {
      var msgIsString = typeof event.data === 'string';
      var json = {};

      try {
        if (msgIsString) {
          json = JSON.parse(event.data);
        } else {
          json = event.data;
        }
      } catch (ignore) {}

      var payload = json.__tcfapiCall;

      if (payload) {
        window.__tcfapi(
          payload.command,
          payload.version,
          function(retValue, success) {
            var returnMsg = {
              __tcfapiReturn: {
                returnValue: retValue,
                success: success,
                callId: payload.callId
              }
            };
            if (msgIsString) {
              returnMsg = JSON.stringify(returnMsg);
            }
            event.source.postMessage(returnMsg, '*');
          },
          payload.parameter
        );
      }
    }

    while (win) {
      try {
        if (win.frames[TCF_LOCATOR_NAME]) {
          cmpFrame = win;
          break;
        }
      } catch (ignore) {}

      if (win === window.top) {
        break;
      }
      win = win.parent;
    }
    if (!cmpFrame) {
      addFrame();
      win.__tcfapi = tcfAPIHandler;
      win.addEventListener('message', postMessageEventHandler, false);
    }
  };

  makeStub();

  var uspStubFunction = function() {
    var arg = arguments;
    if (typeof window.__uspapi !== uspStubFunction) {
      setTimeout(function() {
        if (typeof window.__uspapi !== 'undefined') {
          window.__uspapi.apply(window.__uspapi, arg);
        }
      }, 500);
    }
  };

  var checkIfUspIsReady = function() {
    uspTries++;
    if (window.__uspapi === uspStubFunction && uspTries < uspTriesLimit) {
      console.warn('USP is not accessible');
    } else {
      clearInterval(uspInterval);
    }
  };

  if (typeof window.__uspapi === 'undefined') {
    window.__uspapi = uspStubFunction;
    var uspInterval = setInterval(checkIfUspIsReady, 6000);
  }
})();
</script>
-->
<!-- End Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
</script>
<!-- GA wm old (info) -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
</script>
<!-- GDPR consent -->
<link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
</script>
<style type="text/css">
    .style1 {
        color: #666666
    }
</style>
<div class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div>
<button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav">
<li><a href="/coronavirus/">Coronavirus</a></li>
<li><a href="/population/">Population</a></li>
</ul>
</div>
</div>
</div>
<!-- MAIN -->
<div class="container">
<!-- TOP AD -->
<div class="row">
<div style="text-align:left; margin-bottom:10px">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- wm_top970 -->
<ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<!-- TOP AD -->
<!-- MAIN  -->
<!-- CENTER -->
<div class="row"> <div class="col-md-8">
<!-- *** CONTENT A *** -->
<div class="content-inner">
<style>
    .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
</style>
<!-- charts -->
<script src="/js/highcharts.js"></script>
<style type="text/css">
    .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
</style>
<div class="label-counter" id="page-top">COVID-19 Coronavirus Pandemic</div>
<div style="font-size:13px; color:#999; margin-top:5px; text-align:center">Last updated: October 17, 2023, 11:22 GMT</div>
<div style="margin-top:20px; text-align:center; font-size:14px"><a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">Weekly Trends</a> - <a href="/coronavirus/worldwide-graphs/">Graphs</a> - <a href="#countries">Countries</a> - <a href="#news">News</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Coronavirus Cases:</h1>
<div class="maincounter-number">
<span style="color:#aaa">696,656,817        </span>
</div>
</div>
<div style="text-align:center "><a href="#countries">view by country</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Deaths:</h1>
<div class="maincounter-number">
<span>6,926,687</span>
</div>
</div>
<div id="maincounter-wrap" style="margin-top:15px;">
<h1>Recovered:</h1>
<div class="maincounter-number" style="color:#8ACA2B ">
<span>668,591,161</span>
</div>
</div>
<div style="margin-top:50px;"></div>
<!-- START -->
<style>
    .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
</style>
<script>
    var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
</script>
<div class="col-md-6">
<div class="panel panel-default">
<div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
<span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
                    Active Cases
                </span>
<span class="collapse_button"><svg focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
</svg></span>
</div>
<div class="collapse" id="panel_active">
<div class="panel-body" style="text-align:center;min-height:220px;">
<div class="panel_flip">
<div class="panel_front" style="width:100%;height:100%;">
<div class="number-table-main">21,138,969</div>
<div style="font-size:13.5px">Currently Infected Patients</div>
<div style="padding-top:20px;position:relative;text-align:center; ">
<div style="float:left; text-align:center">
<span class="number-table" style="color:#8080FF">21,100,911</span> (<strong>99.8</strong>%)

                                    <div style="font-size:13px">in Mild Condition</div><br/>
</div>
<div style="float:right; text-align:center"><span class="number-table" style="color:red ">38,058</span> (<strong>0.2</strong>%)

The entire html file, but we don't need all that and there's currently no way of seeing the actual data we are looking for.

#### Scraping Script
If clean is set to true, then the numerical data will be converted from a string to a float. We drop China in our analysis because of some inconsistent reporting / formatting for China when scraping the data. Let's use the Soup packages findAll command to locate the tables.

In [4]:
table1 = page_soup.findAll("table")
print(table1)

[<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br>Other</br></th>
<th width="20">Total<br>Cases</br></th>
<th width="30">New<br>Cases</br></th>
<th width="30">Total<br>Deaths</br></th>
<th width="30">New<br>Deaths</br></th>
<th width="30">Total<br>Recovered</br></th>
<th width="30">New<br>Recovered</br></th>
<th width="30">Active<br>Cases</br></th>
<th width="30">Serious,<br>Critical</br></th>
<th width="30">TotCases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>128,730,968</td>
<td></td>
<td>1,650,114</td>
<td></td>
<td>124,413,237</td>
<td>+804</td>
<td>2,667,617</td>
<td>6,623</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>220,822,399</td>
<td>+62</td>
<td>1,549,941</td>
<td></td>
<td>204,578,627</td>
<td>+61</td>
<td>14,693,831</td>
<td>15,146</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>250,514,741</td>
<td>+19,283</td>
<td>2,075,616</td>
<td>+45</td>
<td>246,419,794</td>
<td>+23,635</td>
<td>2,019,331</td>
<td>5,600</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>69,066,982</td>
<td></td>
<td>1,361,578</td>
<td></td>
<td>66,547,424</td>
<td></td>
<td>1,157,980</td>
<td>10,093</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>14,678,367</td>
<td></td>
<td>30,585</td>
<td></td>
<td>14,542,598</td>
<td></td>
<td>105,184</td>
<td>49</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,842,639</td>
<td></td>
<td>258,838</td>
<td></td>
<td>12,088,775</td>
<td></td>
<td>495,026</td>
<td>547</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>696,656,817</td>
<td>+19,345</td>
<td>6,926,687</td>
<td>+45</td>
<td>668,591,161</td>
<td>+24,500</td>
<td>21,138,969</td>
<td>38,058</td>
<td>89,375</td>
<td>888.6</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">108,944,398</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,179,271                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">106,806,725</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">958,402</td>
<td style="font-weight: bold; text-align:right">1,457</td>
<td style="font-weight: bold; text-align:right">325,396</td>
<td style="font-weight: bold; text-align:right">3,522</td>
<td style="font-weight: bold; text-align:right">1,186,371,266</td>
<td style="font-weight: bold; text-align:right">3,543,467</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>284</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,863</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">44,999,561</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">531,930                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">44,467,165</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">466</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">31,991</td>
<td style="font-weight: bold; text-align:right">378</td>
<td style="font-weight: bold; text-align:right">930,797,975</td>
<td style="font-weight: bold; text-align:right">661,721</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,644</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">0.3</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">40,138,560</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">167,642                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,970,918</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right">869</td>
<td style="font-weight: bold; text-align:right">612,013</td>
<td style="font-weight: bold; text-align:right">2,556</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>391</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,514,765</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">176,314                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,240,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">97,851</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">459,145</td>
<td style="font-weight: bold; text-align:right">2,102</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>476</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,167</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">37,849,919</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">706,142                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">894,616</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">175,757</td>
<td style="font-weight: bold; text-align:right">3,279</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>305</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4,154</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">34,571,873</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">35,934                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">34,535,939</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right">231</td>
<td style="font-weight: bold; text-align:right">673,523</td>
<td style="font-weight: bold; text-align:right">700</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>1</td><td>1,428</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,803,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74,694                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">83</td>
<td style="font-weight: bold; text-align:right">269,169</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">100,414,883</td>
<td style="font-weight: bold; text-align:right">799,578</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,681</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">95,582</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">26,168,412</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">192,013                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">25,810,280</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">166,119</td>
<td style="font-weight: bold; text-align:right">118</td>
<td style="font-weight: bold; text-align:right">434,238</td>
<td style="font-weight: bold; text-align:right">3,186</td>
<td style="font-weight: bold; text-align:right">275,228,417</td>
<td style="font-weight: bold; text-align:right">4,567,139</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>314</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,757</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,743,787</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">229,765                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,500,187</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+2,160</td>
<td style="text-align:right;font-weight:bold;">13,835</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">361,234</td>
<td style="font-weight: bold; text-align:right">3,354</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>298</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">202</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">23,078,812</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+16,852</td>
<td style="font-weight: bold; text-align:right;">400,145                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+43</td>
<td style="font-weight: bold; text-align:right">22,514,317</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+15,872</td>
<td style="text-align:right;font-weight:bold;">164,350</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">158,284</td>
<td style="font-weight: bold; text-align:right">2,744</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>364</td><td>1</td>
<td style="font-weight: bold; text-align:right">116</td>
<td style="font-weight: bold; text-align:right">0.3</td>
<td style="font-weight: bold; text-align:right">1,127</td>
</tr>
<tr style="">

Clearly this is more of the code than we actually want -- we have found **all** the tables but we really just want the displayed one. Let's inspect the html code to see the table id we actually want.

In [5]:
table = page_soup.findAll("table", {"id": "main_table_countries_today"})
# In your individual projects, you may need to access the prior day's data as well
# as todays. You can always insepct the webpage for this older data!

containers = table[0].findAll("tr", {"style": ""}) # tr in html = table row
# Basically, I want to first extract the row names (countries)

del containers[0] # remove the empty first column head

all_data = [] # variable where we will store the data
for country in containers: # iterate over the country names (rows)
    country_data = []
    country_container = country.findAll("td") # find all columns associated with this row
    # Now iterate over the columns

    if country_container[1].text == 'China':
        continue

    for i in range(1, len(country_container)):
        final_feature = country_container[i].text

        # Clean-up column names for easier usage later on (not necessary)
        if clean:
            if i != 1 and i != len(country_container)-1:
                final_feature = final_feature.replace(',', '')
                if final_feature.find('+') != -1:
                    final_feature = final_feature.replace('+', '')
                    final_feature = float(final_feature)
                elif final_feature.find('-') != -1:
                    final_feature = final_feature.replace('-', '')
                    final_feature = float(final_feature)*-1

        # Handle missing data
        if final_feature == 'N/A':
            final_feature = 0
        elif final_feature == '' or final_feature == ' ':
            final_feature = -1 # None
        country_data.append(final_feature)
    all_data.append(country_data)

A few preprocessing or cleaning steps we made here:
1. I removed any irregular characters from the data, ie. formatted strings to be numbers where possible, removed commas ...
2. If a column entry was read as not available, I replaced it by a 0 (think about the benefits and potential issues with doing this)
3. For the other other missing data, I replaced by a -1 (again, think about the benefits and issues)

Now we can cast our data to a Pandas dataframe to give ourselves more tools to work with and let's take a look at our reformatted data.

In [6]:
df = pd.DataFrame(all_data)
df = df.drop([i for i in range(15, len(all_data[0]))], axis=1) # Get rid of unnecessary columns
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,World,696656817,19345.0,6926687,45.0,668591161,24500.0,21138969,38058,89375,888.6,-1,-1,-1,All
1,USA,108944398,-1.0,1179271,-1.0,106806725,-1.0,958402,1457,325396,3522,1186371266,3543467,334805269,North America
2,India,44999561,-1.0,531930,-1.0,44467165,-1.0,466,0,31991,378,930797975,661721,1406631776,Asia
3,Germany,38514765,-1.0,176314,-1.0,38240600,-1.0,97851,0,459145,2102,122332384,1458359,83883596,Europe
4,Brazil,37849919,-1.0,706142,-1.0,36249161,-1.0,894616,0,175757,3279,63776166,296146,215353593,South America

In [7]:
column_labels = ["Country", "Total Cases", "New Cases", "Total Deaths", "New Deaths", "Total Recovered", "New Recovered", "Active Cases", "Serious/Critical",
                "Tot Cases/1M", "Deaths/1M", "Total Tests", "Tests/1M", "Population", "Continent"]
df.columns = column_labels
df.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious/Critical,Tot Cases/1M,Deaths/1M,Total Tests,Tests/1M,Population,Continent
0,World,696656817,19345.0,6926687,45.0,668591161,24500.0,21138969,38058,89375,888.6,-1,-1,-1,All
1,USA,108944398,-1.0,1179271,-1.0,106806725,-1.0,958402,1457,325396,3522,1186371266,3543467,334805269,North America
2,India,44999561,-1.0,531930,-1.0,44467165,-1.0,466,0,31991,378,930797975,661721,1406631776,Asia
3,Germany,38514765,-1.0,176314,-1.0,38240600,-1.0,97851,0,459145,2102,122332384,1458359,83883596,Europe
4,Brazil,37849919,-1.0,706142,-1.0,36249161,-1.0,894616,0,175757,3279,63776166,296146,215353593,South America

#### What Countries are not present in the Analysis?
For some reason, there are some countries that are not included when scraping the webpage.

In [8]:
country_labels = page_soup.findAll("a", {"class": "mt_a"})
# mt_a is an html tag that is used in this table to declare country names. We are
# searching for country names that are labeled in the html file but do not appear on the
# webpage

c_label = []
for country in country_labels:
    c_label.append(country.text)
c_label = set(c_label)

not_counted = []
sorted_countries = set(df['Country']) #Increase computational speed
for country in c_label:
    if country not in sorted_countries:
        not_counted.append(country)

print(not_counted)

['Sri Lanka', 'Ghana', 'Argentina', 'Syria', 'Niue', 'Taiwan', 'Greece', 'Cyprus', 'Cambodia', 'Peru', 'Eritrea', 'France', 'Falkland Islands', 'DPRK', 'Vatican City', 'Saint Kitts and Nevis', 'China', 'Ukraine', 'S. Korea', 'Western Sahara', 'Sudan', 'Denmark']

### Final Processing
Here, we will convert all the numerical data into np.int64 data type, and add some other features that may be particularly useful.

In [9]:
for label in df.columns:
    if label != 'Country' and label != 'Continent': # the variables which are non-numeric
        df[label] = pd.to_numeric(df[label])

In [10]:
df['%Inc Cases'] = df['New Cases']/df['Total Cases']*100
df['%Inc Deaths'] = df['New Deaths']/df['Total Deaths']*100
df['%Inc Recovered'] = df['New Recovered']/df['Total Recovered']*100

# Converting everything to percentages and putting the values in a new column

In [11]:
pd.options.display.max_rows = None
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious/Critical,Tot Cases/1M,Deaths/1M,Total Tests,Tests/1M,Population,Continent,%Inc Cases,%Inc Deaths,%Inc Recovered
0,World,696656817,19345.0,6926687,45.0,668591161,24500.0,21138969,38058,89375.0,888.6,-1,-1,-1,All,2.776834e-03,0.000650,3.664422e-03
1,USA,108944398,-1.0,1179271,-1.0,106806725,-1.0,958402,1457,325396.0,3522.0,1186371266,3543467,334805269,North America,-9.178994e-07,-0.000085,-9.362706e-07
2,India,44999561,-1.0,531930,-1.0,44467165,-1.0,466,0,31991.0,378.0,930797975,661721,1406631776,Asia,-2.222244e-06,-0.000188,-2.248850e-06
3,Germany,38514765,-1.0,176314,-1.0,38240600,-1.0,97851,0,459145.0,2102.0,122332384,1458359,83883596,Europe,-2.596407e-06,-0.000567,-2.615022e-06
4,Brazil,37849919,-1.0,706142,-1.0,36249161,-1.0,894616,0,175757.0,3279.0,63776166,296146,215353593,South America,-2.642014e-06,-0.000142,-2.758685e-06
5,Japan,33803572,-1.0,74694,-1.0,0,0.0,0,83,269169.0,595.0,100414883,799578,125584838,Asia,-2.958267e-06,-0.001339,NaN
6,Italy,26168412,-1.0,192013,-1.0,25810280,-1.0,166119,118,434238.0,3186.0,275228417,4567139,60262770,Europe,-3.821401e-06,-0.000521,-3.874425e-06
7,UK,24743787,-1.0,229765,-1.0,24500187,2160.0,13835,0,361234.0,3354.0,522526476,7628357,68497907,Europe,-4.041419e-06,-0.000435,8.816259e-03
8,Russia,23078812,16852.0,400145,43.0,22514317,15872.0,164350,0,158284.0,2744.0,273400000,1875095,145805947,Europe,7.301936e-02,0.010746,7.049736e-02
9,Turkey,17232066,-1.0,102174,-1.0,0,0.0,0,-1,201399.0,1194.0,162743369,1902052,85561976,Asia,-5.803135e-06,-0.000979,NaN
10,Spain,13914811,-1.0,121760,-1.0,13762417,-1.0,30634,231,297840.0,2606.0,471036328,10082298,46719142,Europe,-7.186587e-06,-0.000821,-7.266166e-06
11,Australia,11781647,-1.0,22837,-1.0,11753611,-1.0,5199,21,451944.0,876.0,81916639,3142326,26068792,Australia/Oceania,-8.487778e-06,-0.004379,-8.508024e-06
12,Vietnam,11624041,16.0,43206,-1.0,10640925,8.0,939910,3,117470.0,437.0,85826548,867342,98953541,Asia,1.376458e-04,-0.002314,7.518143e-05
13,Netherlands,8619835,-1.0,22992,-1.0,8595064,-1.0,1779,53,500820.0,1336.0,25984435,1509718,17211447,Europe,-1.160115e-05,-0.004349,-1.163458e-05
14,Mexico,7649199,-1.0,334472,-1.0,6899865,-1.0,414862,0,58141.0,2542.0,20013810,152124,131562772,North America,-1.307326e-05,-0.000299,-1.449304e-05
15,Iran,7618727,-1.0,146436,-1.0,7377233,-1.0,95058,18,88566.0,1702.0,57320267,666338,86022837,Asia,-1.312555e-05,-0.000683,-1.355522e-05
16,Indonesia,6813602,-1.0,161920,-1.0,6646900,-1.0,4782,0,24410.0,580.0,114158919,408975,279134505,Asia,-1.467652e-05,-0.000618,-1.504461e-05
17,Poland,6527077,600.0,119657,1.0,5335940,-1.0,1071480,53,172950.0,3171.0,38864768,1029809,37739785,Europe,9.192476e-03,0.000836,-1.874084e-05
18,Colombia,6382968,-1.0,143042,-1.0,6202246,-1.0,37680,342,123910.0,2777.0,36951507,717327,51512762,South America,-1.566669e-05,-0.000699,-1.612319e-05
19,Austria,6081287,-1.0,22542,-1.0,6054934,-1.0,3811,14,670727.0,2486.0,211273524,23302116,9066710,Europe,-1.644389e-05,-0.004436,-1.651546e-05
20,Portugal,5627747,-1.0,27573,-1.0,5594354,537.0,5820,61,554973.0,2719.0,46139518,4549993,10140570,Europe,-1.776910e-05,-0.003627,9.598964e-03
21,Chile,5297199,-1.0,64497,-1.0,5232444,-1.0,258,25,275176.0,3350.0,50123154,2603774,19250195,South America,-1.887790e-05,-0.001550,-1.911153e-05
22,Malaysia,5128668,-1.0,37179,-1.0,5079933,-1.0,11556,4,154566.0,1120.0,68557228,2066155,33181072,Asia,-1.949824e-05,-0.002690,-1.968530e-05
23,Israel,4839886,-1.0,12691,-1.0,4798473,-1.0,28722,21,518967.0,1361.0,41373364,4436346,9326000,Asia,-2.066164e-05,-0.007880,-2.083996e-05
24,Belgium,4821802,-1.0,34376,-1.0,4778020,-1.0,9406,43,413240.0,2946.0,37018657,3172590,11668278,Europe,-2.073913e-05,-0.002909,-2.092917e-05
25,Thailand,4757728,-1.0,34483,-1.0,4692636,-1.0,30609,0,67892.0,492.0,17270775,246450,70078203,Asia,-2.101844e-05,-0.002900,-2.130998e-05
26,Canada,4749610,-1.0,54100,-1.0,4667540,804.0,27970,99,123725.0,1409.0,66487884,1731978,38388419,North America,-2.105436e-05,-0.001848,1.722535e-02
27,Czechia,4658593,959.0,42884,-1.0,4611410,428.0,4299,12,433891.0,3994.0,57333071,5339874,10736784,Europe,2.058561e-02,-0.002332,9.281326e-03
28,Switzerland,4415642,-1.0,14452,-1.0,4396008,-1.0,5182,39,503285.0,1647.0,23833472,2716487,8773637,Europe,-2.264676e-05,-0.006919,-2.274791e-05
29,Philippines,4174101,-1.0,66643,-1.0,4103828,-1.0,3630,162,37100.0,592.0,35659012,316944,112508994,Asia,-2.395725e-05,-0.001501,-2.436749e-05
30,South Africa,4076463,-1.0,102595,-1.0,3912506,-1.0,61362,192,67095.0,1689.0,26795090,441027,60756135,Africa,-2.453107e-05,-0.000975,-2.555907e-05
31,Romania,3478091,-1.0,68409,-1.0,3386798,-1.0,22884,75,182756.0,3595.0,28110930,1477087,19031335,Europe,-2.875140e-05,-0.001462,-2.952641e-05
32,Hong Kong,2922341,-1.0,14284,-1.0,2904342,-1.0,3715,28,384301.0,1878.0,76127725,10011143,7604299,Asia,-3.421914e-05,-0.007001,-3.443121e-05
33,Sweden,2718870,-1.0,24956,-1.0,2691895,66.0,2019,1,266061.0,2442.0,19500873,1908301,10218971,Europe,-3.677999e-05,-0.004007,2.451804e-03
34,Singapore,2620069,-1.0,1885,-1.0,2149583,-1.0,468601,3,440826.0,317.0,24756666,4165302,5943546,Asia,-3.816693e-05,-0.053050,-4.652065e-05
35,Serbia,2563994,-1.0,18057,-1.0,2537969,3848.0,7968,-1,296312.0,2087.0,13148124,1519485,8653016,Europe,-3.900165e-05,-0.005538,1.516173e-01
36,New Zealand,2477820,-1.0,4892,-1.0,2470623,-1.0,2305,-1,505863.0,999.0,7768604,1586011,4898203,Australia/Oceania,-4.035806e-05,-0.020442,-4.047562e-05
37,Iraq,2465545,-1.0,25375,-1.0,2439497,-1.0,673,21,58474.0,602.0,19544451,463523,42164965,Asia,-4.055898e-05,-0.003941,-4.099206e-05
38,Hungary,2206311,-1.0,48881,-1.0,2152155,-1.0,5275,2,229674.0,5088.0,11394556,1186160,9606259,Europe,-4.532453e-05,-0.002046,-4.646505e-05
39,Bangladesh,2045789,-1.0,29477,-1.0,1998448,-1.0,17864,0,12186.0,176.0,15254399,90862,167885689,Asia,-4.888090e-05,-0.003392,-5.003883e-05
40,Slovakia,1867933,134.0,21167,-1.0,1846480,122.0,286,3,342100.0,3877.0,7441769,1362913,5460193,Europe,7.173705e-03,-0.004724,6.607166e-03
41,Georgia,1855289,-1.0,17132,-1.0,1776548,-1.0,61609,-1,467476.0,4317.0,16920079,4263340,3968738,Asia,-5.389996e-05,-0.005837,-5.628894e-05
42,Jordan,1746997,-1.0,14122,-1.0,1731007,-1.0,1868,59,169597.0,1371.0,17201885,1669945,10300869,Asia,-5.724108e-05,-0.007081,-5.776984e-05
43,Ireland,1722546,-1.0,9293,-1.0,1710417,-1.0,2836,19,343123.0,1851.0,13083449,2606161,5020199,Europe,-5.805360e-05,-0.010761,-5.846527e-05
44,Pakistan,1581883,-1.0,30664,-1.0,1538689,-1.0,12530,-1,6893.0,134.0,30589153,133292,229488994,Asia,-6.321580e-05,-0.003261,-6.499039e-05
45,Norway,1489459,-1.0,5732,-1.0,1483344,-1.0,383,20,270252.0,1040.0,11002430,1996315,5511370,Europe,-6.713847e-05,-0.017446,-6.741525e-05
46,Finland,1487090,-1.0,10321,-1.0,1475511,80.0,1258,21,267705.0,1858.0,12108977,2179850,5554960,Europe,-6.724543e-05,-0.009689,5.421850e-03
47,Kazakhstan,1411831,-1.0,13848,-1.0,1383020,-1.0,14963,24,73514.0,721.0,11575012,602707,19205043,Asia,-7.083001e-05,-0.007221,-7.230553e-05
48,Slovenia,1346107,70.0,7100,-1.0,1338253,70.0,754,8,647779.0,3417.0,2847701,1370382,2078034,Europe,5.200181e-03,-0.014085,5.230700e-03
49,Lithuania,1333863,600.0,9720,1.0,1319292,369.0,4851,2,501130.0,3652.0,10509331,3948341,2661708,Europe,4.498213e-02,0.010288,2.796955e-02
50,Bulgaria,1318967,-1.0,38506,-1.0,1275756,-1.0,4705,26,192702.0,5626.0,11395302,1664861,6844597,Europe,-7.581691e-05,-0.002597,-7.838489e-05
51,Guatemala,1278286,-1.0,20264,-1.0,1257723,-1.0,299,5,68784.0,1090.0,7593848,408622,18584039,North America,-7.822975e-05,-0.004935,-7.950876e-05
52,Morocco,1276950,-1.0,16297,-1.0,1256151,-1.0,4502,3,33806.0,431.0,13001033,344191,37772756,Africa,-7.831160e-05,-0.006136,-7.960826e-05
53,Croatia,1276001,-1.0,18397,-1.0,1257207,-1.0,397,-1,314341.0,4532.0,5644418,1390495,4059286,Europe,-7.836984e-05,-0.005436,-7.954140e-05
54,Lebanon,1243838,-1.0,10952,-1.0,1087587,-1.0,145299,74,186068.0,1638.0,4795578,717380,6684849,Asia,-8.039632e-05,-0.009131,-9.194667e-05
55,Costa Rica,1238883,-1.0,9428,-1.0,860711,-1.0,368744,52,239058.0,1819.0,4659757,899158,5182354,North America,-8.071787e-05,-0.010607,-1.161830e-04
56,Bolivia,1209081,-1.0,22404,-1.0,1177145,-1.0,9532,220,100818.0,1868.0,2710261,225993,11992656,South America,-8.270744e-05,-0.004463,-8.495130e-05
57,Tunisia,1153361,-1.0,29423,-1.0,0,0.0,0,44,95741.0,2442.0,5013383,416164,12046656,Africa,-8.670312e-05,-0.003399,NaN
58,Cuba,1115131,-1.0,8530,-1.0,1106537,-1.0,64,2,98635.0,754.0,14345940,1268918,11305652,North America,-8.967556e-05,-0.011723,-9.037203e-05
59,Ecuador,1069139,-1.0,36043,-1.0,1033071,-1.0,25,759,59025.0,1990.0,3082403,170173,18113361,South America,-9.353321e-05,-0.002774,-9.679877e-05
60,UAE,1067030,-1.0,2349,-1.0,1054525,-1.0,10156,-1,105837.0,233.0,200732262,19910389,10081785,Asia,-9.371808e-05,-0.042571,-9.482943e-05
61,Panama,1048429,-1.0,8661,-1.0,1039693,-1.0,75,16,235763.0,1948.0,7811039,1756488,4446964,North America,-9.538080e-05,-0.011546,-9.618224e-05
62,Uruguay,1038774,-1.0,7634,-1.0,1030944,-1.0,196,18,297131.0,2184.0,6114822,1749083,3496016,South America,-9.626733e-05,-0.013099,-9.699848e-05
63,Mongolia,1011170,-1.0,2179,-1.0,1008796,-1.0,195,192,299333.0,645.0,4030048,1193000,3378078,Asia,-9.889534e-05,-0.045893,-9.912807e-05
64,Nepal,1003444,-1.0,12031,-1.0,991322,-1.0,91,-1,33199.0,398.0,6047766,200088,30225582,Asia,-9.965678e-05,-0.008312,-1.008754e-04
65,Belarus,994037,-1.0,7118,-1.0,985592,-1.0,1327,-1,105381.0,755.0,13646641,1446722,9432800,Europe,-1.005999e-04,-0.014049,-1.014619e-04
66,Latvia,979014,-1.0,6406,-1.0,971406,-1.0,1202,-1,529530.0,3465.0,7880891,4262621,1848837,Europe,-1.021436e-04,-0.015610,-1.029436e-04
67,Saudi Arabia,841469,-1.0,9646,-1.0,827923,-1.0,3900,66,23475.0,269.0,45481735,1268848,35844909,Asia,-1.188398e-04,-0.010367,-1.207842e-04
68,Azerbaijan,833189,-1.0,10332,-1.0,822484,-1.0,373,-1,80891.0,1003.0,7688073,746400,10300205,Asia,-1.200208e-04,-0.009679,-1.215829e-04
69,Paraguay,815869,-1.0,20028,-1.0,0,0.0,0,7,111673.0,2741.0,2657506,363751,7305843,South America,-1.225687e-04,-0.004993,NaN
70,Bahrain,729069,-1.0,1574,-1.0,727384,-1.0,111,4,408675.0,882.0,10934539,6129284,1783983,Asia,-1.371612e-04,-0.063532,-1.374790e-04
71,Dominican Republic,670627,-1.0,4384,-1.0,666104,-1.0,139,4,60655.0,397.0,3740928,338350,11056370,North America,-1.491142e-04,-0.022810,-1.501267e-04
72,Kuwait,666391,-1.0,2570,-1.0,660237,-1.0,3584,-1,152133.0,587.0,8455743,1930391,4380326,Asia,-1.500621e-04,-0.038911,-1.514608e-04
73,Myanmar,641325,4.0,19495,-1.0,619922,-1.0,1908,-1,11612.0,353.0,11369542,205869,55227143,Asia,6.237087e-04,-0.005130,-1.613106e-04
74,Moldova,621865,-1.0,12126,-1.0,504142,-1.0,105597,49,154956.0,3022.0,3216305,801437,4013171,Europe,-1.608066e-04,-0.008247,-1.983568e-04
75,Palestine,621008,-1.0,5404,-1.0,615445,-1.0,159,17,116173.0,1011.0,3078533,575907,5345541,Asia,-1.610285e-04,-0.018505,-1.624841e-04
76,Estonia,620155,-1.0,3001,-1.0,524990,-1.0,92164,-1,469136.0,2270.0,3742779,2831342,1321910,Europe,-1.612500e-04,-0.033322,-1.904798e-04
77,Venezuela,552695,-1.0,5856,-1.0,546537,-1.0,302,31,18885.0,200.0,3359014,114771,29266991,South America,-1.809316e-04,-0.017077,-1.829702e-04
78,Egypt,516023,-1.0,24613,-1.0,442182,-1.0,49228,122,4861.0,232.0,3693367,34792,106156692,Africa,-1.937898e-04,-0.004063,-2.261512e-04
79,Qatar,514524,-1.0,690,-1.0,513687,-1.0,147,16,172664.0,232.0,4065369,1364257,2979915,Asia,-1.943544e-04,-0.144928,-1.946711e-04
80,Libya,507274,-1.0,6437,-1.0,500835,-1.0,2,-1,72048.0,914.0,2483848,352782,7040745,Africa,-1.971321e-04,-0.015535,-1.996666e-04
81,Ethiopia,501032,-1.0,7574,-1.0,488171,-1.0,5287,-1,4147.0,63.0,5565340,46066,120812698,Africa,-1.995881e-04,-0.013203,-2.048463e-04
82,Runion,486588,-1.0,921,-1.0,418572,-1.0,67095,10,535854.0,1014.0,1603660,1766027,908061,Africa,-2.055127e-04,-0.108578,-2.389075e-04
83,Honduras,474078,-1.0,11165,-1.0,0,0.0,0,105,46382.0,1092.0,1660662,162472,10221247,North America,-2.109358e-04,-0.008957,NaN
84,Armenia,449357,-1.0,8751,-1.0,435162,-1.0,5444,-1,151199.0,2945.0,3242901,1091164,2971966,Asia,-2.225402e-04,-0.011427,-2.297995e-04
85,Bosnia and Herzegovina,403183,-1.0,16355,-1.0,379084,-1.0,7744,-1,124082.0,5033.0,1884721,580036,3249317,Europe,-2.480263e-04,-0.006114,-2.637938e-04
86,Oman,399449,-1.0,4628,-1.0,384669,-1.0,10152,2,75028.0,869.0,25000000,4695724,5323993,Asia,-2.503449e-04,-0.021608,-2.599638e-04
87,Zambia,349287,-1.0,4069,-1.0,341316,-1.0,3902,-1,17940.0,209.0,4112961,211244,19470234,Africa,-2.862975e-04,-0.024576,-2.929836e-04
88,North Macedonia,348411,-1.0,9941,-1.0,337068,-1.0,1402,-1,167400.0,4776.0,2226216,1069626,2081304,Europe,-2.870173e-04,-0.010059,-2.966760e-04
89,Kenya,343955,-1.0,5689,-1.0,337309,-1.0,957,1,6119.0,101.0,3967062,70569,56215221,Africa,-2.907357e-04,-0.017578,-2.964641e-04
90,Albania,334726,-1.0,3602,-1.0,329428,-1.0,1696,-1,116777.0,1257.0,1941032,677173,2866374,Europe,-2.987518e-04,-0.027762,-3.035565e-04
91,Botswana,330284,-1.0,2801,-1.0,327049,-1.0,434,1,135298.0,1147.0,2026898,830300,2441162,Africa,-3.027697e-04,-0.035702,-3.057646e-04
92,Luxembourg,319959,-1.0,1232,-1.0,316690,-1.0,2037,-1,498091.0,1918.0,4587145,7140959,642371,Europe,-3.125400e-04,-0.081169,-3.157662e-04
93,Brunei,311614,-1.0,225,-1.0,243601,-1.0,67788,3,699579.0,505.0,717784,1611437,445431,Asia,-3.209098e-04,-0.444444,-4.105073e-04
94,Montenegro,293803,-1.0,2831,-1.0,290231,-1.0,741,6,467876.0,4508.0,2764972,4403172,627950,Europe,-3.403641e-04,-0.035323,-3.445531e-04
95,Algeria,271928,-1.0,6881,-1.0,183061,-1.0,81986,-1,5996.0,152.0,230960,5093,45350148,Africa,-3.677444e-04,-0.014533,-5.462660e-04
96,Nigeria,267146,-1.0,3155,-1.0,259953,-1.0,4038,11,1233.0,15.0,5708974,26339,216746934,Africa,-3.743271e-04,-0.031696,-3.846849e-04
97,Zimbabwe,265771,-1.0,5718,-1.0,258888,-1.0,1165,12,17335.0,373.0,2525756,164744,15331428,Africa,-3.762638e-04,-0.017489,-3.862674e-04
98,Uzbekistan,253662,-1.0,1637,-1.0,241486,-1.0,10539,23,7378.0,48.0,1377915,40077,34382084,Asia,-3.942254e-04,-0.061087,-4.141027e-04
99,Mozambique,233654,-1.0,2249,-1.0,228805,-1.0,2600,11,7061.0,68.0,1371127,41437,33089461,Africa,-4.279833e-04,-0.044464,-4.370534e-04
100,Martinique,230354,-1.0,1102,-1.0,0,0.0,0,12,615777.0,2946.0,828928,2215870,374087,North America,-4.341144e-04,-0.090744,NaN
101,Afghanistan,226884,41.0,7952,-1.0,207091,53.0,11841,-1,5567.0,195.0,1316200,32296,40754388,Asia,1.807091e-02,-0.012575,2.559261e-02
102,Laos,218878,1.0,758,-1.0,0,0.0,0,-1,29258.0,101.0,1233207,164845,7481023,Asia,4.568755e-04,-0.131926,NaN
103,Iceland,209191,-1.0,229,-1.0,0,0.0,0,2,605661.0,663.0,1996384,5780036,345393,Europe,-4.780320e-04,-0.436681,NaN
104,Kyrgyzstan,206897,-1.0,2991,-1.0,196406,-1.0,7500,131,30750.0,445.0,1907195,283460,6728271,Asia,-4.833323e-04,-0.033434,-5.091494e-04
105,Guadeloupe,203235,-1.0,1021,-1.0,0,0.0,0,19,508349.0,2554.0,938039,2346306,399794,North America,-4.920412e-04,-0.097943,NaN
106,El Salvador,201807,-1.0,4230,-1.0,179410,-1.0,18167,8,30808.0,646.0,2610114,398467,6550389,North America,-4.955230e-04,-0.023641,-5.573825e-04
107,Trinidad and Tobago,191496,-1.0,4390,-1.0,187078,-1.0,28,8,136143.0,3121.0,913289,649295,1406585,North America,-5.222041e-04,-0.022779,-5.345364e-04
108,Maldives,186694,-1.0,316,-1.0,163687,-1.0,22691,25,345100.0,584.0,2213831,4092223,540985,Asia,-5.356359e-04,-0.316456,-6.109221e-04
109,Namibia,171998,-1.0,4098,-1.0,167099,-1.0,801,-1,65302.0,1556.0,1062663,403460,2633874,Africa,-5.814021e-04,-0.024402,-5.984476e-04
110,Uganda,171871,-1.0,3632,-1.0,100431,-1.0,67808,3,3549.0,75.0,3012408,62198,48432863,Africa,-5.818317e-04,-0.027533,-9.957085e-04
111,Jamaica,156469,-1.0,3664,-1.0,103191,-1.0,49614,-1,52417.0,1227.0,1183986,396633,2985094,North America,-6.391042e-04,-0.027293,-9.690768e-04
112,Rwanda,133518,-1.0,1468,-1.0,132039,-1.0,11,-1,9817.0,108.0,6021981,442778,13600464,Africa,-7.489627e-04,-0.068120,-7.573520e-04
113,Cameroon,125090,-1.0,1974,-1.0,122807,-1.0,309,13,4482.0,71.0,1751774,62762,27911548,Africa,-7.994244e-04,-0.050659,-8.142858e-04
114,Malta,120643,68.0,863,-1.0,119250,83.0,530,-1,271698.0,1944.0,2154667,4852493,444033,Europe,5.636465e-02,-0.115875,6.960168e-02
115,Barbados,110235,-1.0,641,-1.0,108647,-1.0,947,-1,382730.0,2226.0,810447,2813827,288023,North America,-9.071529e-04,-0.156006,-9.204120e-04
116,Angola,105972,-1.0,1936,-1.0,103419,-1.0,617,-1,3025.0,55.0,1499795,42818,35027343,Africa,-9.436455e-04,-0.051653,-9.669403e-04
117,Channel Islands,101717,-1.0,228,-1.0,101321,-1.0,168,-1,576421.0,1292.0,1252808,7099551,176463,Europe,-9.831198e-04,-0.438596,-9.869622e-04
118,DRC,99181,-1.0,1468,-1.0,84489,-1.0,13224,-1,1041.0,15.0,846704,8890,95240792,Africa,-1.008258e-03,-0.068120,-1.183586e-03
119,French Guiana,98041,-1.0,420,-1.0,11254,-1.0,86367,6,312065.0,1337.0,651257,2072951,314169,South America,-1.019981e-03,-0.238095,-8.885730e-03
120,Senegal,89022,-1.0,1971,-1.0,87024,-1.0,27,-1,5043.0,112.0,1146543,64946,17653671,Africa,-1.123318e-03,-0.050736,-1.149108e-03
121,Malawi,88986,-1.0,2686,-1.0,85651,-1.0,649,67,4409.0,133.0,624784,30959,20180839,Africa,-1.123772e-03,-0.037230,-1.167529e-03
122,Ivory Coast,88338,-1.0,835,-1.0,87497,-1.0,6,-1,3184.0,30.0,1690934,60951,27742298,Africa,-1.132016e-03,-0.119760,-1.142896e-03
123,Suriname,82588,-1.0,1408,-1.0,0,0.0,0,-1,138378.0,2359.0,242207,405822,596831,South America,-1.210830e-03,-0.071023,NaN
124,New Caledonia,80064,-1.0,314,-1.0,79605,-1.0,145,9,275214.0,1079.0,98964,340182,290915,Australia/Oceania,-1.249001e-03,-0.318471,-1.256202e-03
125,French Polynesia,78632,-1.0,649,-1.0,0,0.0,0,7,276713.0,2284.0,-1,-1,284164,Australia/Oceania,-1.271747e-03,-0.154083,NaN
126,Eswatini,75000,-1.0,1427,-1.0,73116,-1.0,457,-1,63301.0,1204.0,1048704,885119,1184817,Africa,-1.333333e-03,-0.070077,-1.367690e-03
127,Guyana,73385,-1.0,1299,-1.0,72013,-1.0,73,-1,92419.0,1636.0,733218,923396,794045,South America,-1.362676e-03,-0.076982,-1.388638e-03
128,Belize,71060,-1.0,688,-1.0,70085,-1.0,287,6,172396.0,1669.0,576016,1397453,412190,North America,-1.407261e-03,-0.145349,-1.426839e-03
129,Fiji,69117,-1.0,885,-1.0,67226,-1.0,1006,-1,75997.0,973.0,672883,739866,909466,Australia/Oceania,-1.446822e-03,-0.112994,-1.487520e-03
130,Madagascar,68347,-1.0,1425,-1.0,66862,-1.0,60,-1,2342.0,49.0,531329,18210,29178077,Africa,-1.463122e-03,-0.070175,-1.495618e-03
131,Cabo Verde,64401,-1.0,415,-1.0,63755,-1.0,231,23,113446.0,731.0,401622,707482,567678,Africa,-1.552771e-03,-0.240964,-1.568504e-03
132,Mauritania,63772,-1.0,997,-1.0,62471,-1.0,304,-1,13009.0,203.0,1009957,206030,4901981,Africa,-1.568086e-03,-0.100301,-1.600743e-03
133,Bhutan,62697,-1.0,21,-1.0,61564,-1.0,1112,-1,79571.0,27.0,2303734,2923739,787941,Asia,-1.594973e-03,-4.761905,-1.624326e-03
134,Burundi,54366,-1.0,38,-1.0,53569,-1.0,759,-1,4306.0,3.0,345742,27386,12624840,Africa,-1.839385e-03,-2.631579,-1.866751e-03
135,Seychelles,50937,-1.0,172,-1.0,50750,-1.0,15,-1,512311.0,1730.0,-1,-1,99426,Africa,-1.963209e-03,-0.581395,-1.970443e-03
136,Gabon,48992,-1.0,307,-1.0,48674,-1.0,11,-1,21013.0,132.0,1621909,695641,2331533,Africa,-2.041150e-03,-0.325733,-2.054485e-03
137,Andorra,48015,-1.0,165,-1.0,47563,-1.0,287,14,619844.0,2130.0,249838,3225256,77463,Europe,-2.082682e-03,-0.606061,-2.102475e-03
138,Papua New Guinea,46864,-1.0,670,-1.0,46168,-1.0,26,7,5043.0,72.0,249149,26813,9292169,Australia/Oceania,-2.133834e-03,-0.149254,-2.166002e-03
139,Curaao,45986,-1.0,295,-1.0,44720,-1.0,971,3,277812.0,1782.0,496693,3000640,165529,North America,-2.174575e-03,-0.338983,-2.236136e-03
140,Aruba,44224,-1.0,292,-1.0,42438,-1.0,1494,2,410969.0,2714.0,177885,1653068,107609,North America,-2.261216e-03,-0.342466,-2.356379e-03
141,Tanzania,43078,-1.0,846,-1.0,0,0.0,0,7,681.0,13.0,-1,-1,63298550,Africa,-2.321371e-03,-0.118203,NaN
142,Mauritius,42966,-1.0,1051,-1.0,41231,-1.0,684,-1,33706.0,824.0,358675,281374,1274727,Africa,-2.327422e-03,-0.095147,-2.425360e-03

Now that we have finished processing the dataframe, let's check the basics of this set.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           209 non-null    object
 1   Total Cases       209 non-null    int64
 2   New Cases         209 non-null    float64
 3   Total Deaths      209 non-null    int64
 4   New Deaths        209 non-null    float64
 5   Total Recovered   209 non-null    int64
 6   New Recovered     209 non-null    float64
 7   Active Cases      209 non-null    int64
 8   Serious/Critical  209 non-null    int64
 9   Tot Cases/1M      209 non-null    float64
 10  Deaths/1M         209 non-null    float64
 11  Total Tests       209 non-null    int64
 12  Tests/1M          209 non-null    int64
 13  Population        209 non-null    int64
 14  Continent         209 non-null    object
 15  %Inc Cases        209 non-null    float64
 16  %Inc Deaths       209 non-null    float64
 17  %Inc Recovered    189 non-null    float64
dtypes: float64(8), int64(8), object(2)
memory usage: 29.5+ KB

In [13]:
df.describe() # will conduct basic stastical analysis on all the variables

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious/Critical,Tot Cases/1M,Deaths/1M,Total Tests,Tests/1M,Population,%Inc Cases,%Inc Deaths,%Inc Recovered
count,2.090000e+02,209.000000,2.090000e+02,209.000000,2.090000e+02,209.000000,2.090000e+02,209.000000,209.000000,209.000000,2.090000e+02,2.090000e+02,2.090000e+02,209.000000,209.000000,189.000000
mean,9.418744e+06,276.741627,9.574098e+04,-0.330144,8.825431e+06,350.846890,2.368688e+05,391.114833,194329.313876,1247.388517,2.951248e+07,1.925299e+06,2.894050e+07,-0.008307,-1.195539,0.790340
std,6.840904e+07,2212.411239,6.820982e+05,5.407536,6.566252e+07,2637.981767,2.064383e+06,3713.281106,194621.333566,1255.578758,1.191002e+08,3.345340e+06,1.066763e+08,0.087010,14.834260,10.911163
min,8.000000e+01,-1.000000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,0.000000e+00,-1.000000,381.000000,-1.000000,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.250000,-100.000000,-50.000000
25%,2.733400e+04,-1.000000,1.940000e+02,-1.000000,1.318200e+04,-1.000000,6.500000e+01,-1.000000,23475.000000,177.000000,2.422070e+05,1.147710e+05,4.005160e+05,-0.003658,-0.444444,-0.004070
50%,2.091910e+05,-1.000000,1.971000e+03,-1.000000,1.192500e+05,-1.000000,9.470000e+02,1.000000,123910.000000,876.000000,1.621909e+06,7.398660e+05,5.323993e+06,-0.000434,-0.046318,-0.000385
75%,1.278286e+06,-1.000000,1.412200e+04,-1.000000,1.256151e+06,-1.000000,8.087000e+03,13.000000,312065.000000,1990.000000,1.100243e+07,2.072951e+06,1.920504e+07,-0.000067,-0.006136,-0.000056
max,6.966568e+08,19345.000000,6.926687e+06,45.000000,6.685912e+08,24500.000000,2.113897e+07,38058.000000,726625.000000,5626.000000,1.186371e+09,2.330212e+07,1.406632e+09,0.073019,100.000000,100.000000

## Basics of Plotting with Plotly
Now that we have a cleaned dataframe, we can do some basic visualizations of the given data + added features. These are just a few examples of basic plots that can be done, but I recommend you investigate both the Plotly and Seaborn package documentations for the range of possibilities.

In [14]:
cases_ser = df[["Total Recovered", "Active Cases", "Total Deaths"]].loc[0]
# Get the country data for active + recovered cases + deaths each as a row

cases_df = pd.DataFrame(cases_ser).reset_index() # 0-index the rows
cases_df.columns = ['Type', 'Total']
cases_df['Percentage'] = np.round(100*cases_df['Total']/np.sum(cases_df['Total']), 2)
cases_df['Virus'] = ['COVID-19' for i in range(len(cases_df))]

fig = px.bar(cases_df, x='Virus', y='Percentage', color='Type', hover_data=['Total'])
fig.update_layout(title={'text': f"Total Number of Cases, Recoveries, and Deaths on {yesterday_str}", 'x': 0.5,
                         'xanchor': 'center', 'font': {'size': 20}}, yaxis_title="Percentage", xaxis_title="")
fig.show(renderer="colab") # make sure to set your renderer to colab if running within your web browser

In [15]:
new_ser = df[["New Cases", "New Recovered", "New Deaths"]].loc[0]
new_df = pd.DataFrame(new_ser).reset_index()
new_df.columns = ['Type', 'Total']
new_df['Percentage'] = np.round(100*new_df['Total']/np.sum(new_df['Total']), 2)
new_df['Virus'] = ['COVID-19' for i in range(len(new_df))]

fig = px.bar(new_df, x='Virus', y='Percentage', color='Type', hover_data=['Total'])
fig.update_layout(title={'text': f"New Cases, Recoveries, and Deaths on {yesterday_str}", 'x': 0.5,
                         'xanchor': 'center', 'font': {'size': 20}}, yaxis_title="Percentage", xaxis_title="")
fig.show(renderer="colab")

In [16]:
continent_df = df.groupby('Continent').sum().drop('All')
continent_df = continent_df.reset_index()
continent_df

,Continent,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious/Critical,Tot Cases/1M,Deaths/1M,Total Tests,Tests/1M,Population,%Inc Cases,%Inc Deaths,%Inc Recovered
0,Africa,12596667,-54.0,252225,-54.0,10731370,-50.0,397422,513,2487077.0,18359.0,107901428,10823164,1324052869,-0.220003,85.009743,-50.173909
1,Asia,169202760,24.0,1465189,-42.0,114644182,24.0,2016499,987,6186477.0,31304.0,2172699635,83174522,3102343533,-0.009740,-8.687658,-0.030127
2,Australia/Oceania,14677480,-19.0,30584,-19.0,14484435,-16.0,33571,37,4306824.0,9353.0,91667523,21256871,43468786,-1.420751,-204.672781,199.597734
3,Europe,195533022,19247.0,1749653,5.0,191653866,23606.0,1848019,871,16992902.0,117494.0,2300554303,178107502,622614811,0.185413,-10.580178,0.340385
4,North America,128724361,-38.0,1650066,-38.0,124264088,772.0,1903086,1813,8757560.0,58696.0,1324884773,99382157,598087045,-0.272397,-110.507133,-0.356316
5,South America,54469658,-11.0,1008773,-11.0,51554815,-9.0,1029049,1406,1705237.0,23721.0,170401515,9643187,357996462,-0.004207,-0.430898,-0.010774

### Model Fitting

Let's build a basic regression that finds the relationship between newly recovered individuals and serious/critical condition ones.

In [17]:
# Variable to predict with
predictor = pd.DataFrame(df, columns=["New Recovered"])

# Put the target variable in another DataFrame
target = pd.DataFrame(df, columns=["Serious/Critical"])

In [18]:
import statsmodels.api as sm

# Note the difference in argument order
model = sm.OLS(target, predictor).fit()
predictions = model.predict(predictor) # make the predictions by the model

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:       Serious/Critical   R-squared (uncentered):                   0.814
Model:                            OLS   Adj. R-squared (uncentered):              0.813
Method:                 Least Squares   F-statistic:                              911.0
Date:                Tue, 17 Oct 2023   Prob (F-statistic):                    6.14e-78
Time:                        20:38:38   Log-Likelihood:                         -1839.3
No. Observations:                 209   AIC:                                      3681.
Df Residuals:                     208   BIC:                                      3684.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
New Recovered     1.2659      0.042     30.182      0.000       1.183       1.349
==============================================================================
Omnibus:                      363.048   Durbin-Watson:                   1.573
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           122483.010
Skew:                          -8.633   Prob(JB):                         0.00
Kurtosis:                     120.333   Cond. No.                         1.00
==============================================================================

Notes:
[1] R is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

From the above, we see that the R^2 is 0.935, so the variables are highly correlated. How do we interpret that? Maybe countries with more patients recovering means more patients in overwhelmed hospitals, thus inadvertently more people reach critical condition due to a constrained hospital.

Unfortunately, with a very simple model that views data on such a high level, we cannot make a meaningful prediction on this relationship.

Now, let's instead try to predict missing data (a common practice when data is scarce or unreliable.

In [19]:
# Mask out certain data
num_rows = len(df)
mask = random.choices(range(num_rows), k=10)
train = df.index.difference(mask)

train_data = df.loc[train]
test_data  = df.iloc[mask]

# Restrict ourselves to just a few columns
missing_data = pd.DataFrame(df, columns=["New Recovered","Serious/Critical","Population"])

Let's first try replacing the values with a simple linear regression

In [20]:
# First build a regression using the available data
from sklearn.metrics import mean_squared_error

x_train = pd.DataFrame(train_data, columns=["New Recovered","Population"])
y_train = pd.DataFrame(train_data, columns=["Serious/Critical"])

x_test = pd.DataFrame(test_data, columns=["New Recovered","Population"])
y_test = pd.DataFrame(test_data, columns=["Serious/Critical"])

model = sm.OLS(y_train, x_train).fit()
y_pred = model.predict(x_test) # make the predictions by the model

rms = np.sqrt(mean_squared_error(y_test, y_pred)) # Compute the error of our model
print(rms)

150.3285555537848

Now we have a measure of the error from out model. But, the question remains, is this good? Can we do better? Maybe assuming a linear relationship is too strong, what about logistic?

In [21]:
# What about a Logistic Regression?
from sklearn.linear_model import LogisticRegression

logreg= LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)

rms = np.sqrt(mean_squared_error(y_test, y_pred)) # Compute the error of our model
print(rms)

20.89976076418101

In [22]:
# Sometimes we do worse! Logistic relationship doesn't work. What else can we try?
from sklearn import svm
regr = svm.SVR()
regr.fit(x_train, y_train)
y_pred = regr.predict(x_test)

rms = np.sqrt(mean_squared_error(y_test, y_pred)) # Compute the error of our model
print(rms)

20.13196978521327

In [23]:
from sklearn.neural_network import MLPRegressor

clf = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(15,), random_state=1)
clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)

rms = np.sqrt(mean_squared_error(y_test, y_pred)) # Compute the error of our model
print(rms)

18.60323339990299

In [24]:
from sklearn.ensemble import GradientBoostingRegressor

est = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=1, random_state=0,loss='squared_error').fit(x_train, y_train)

y_pred = est.predict(x_test)
rms = np.sqrt(mean_squared_error(y_test, y_pred)) # Compute the error of our model
print(rms)

25.918058836940247

From the above it's clear to see the major hurdle in exploratory data analysis is reading the data, cleaning it, and finally putting it into an easily manipulated form for your scripts. After that, the number of off the shelf packages for prediction is immense so there is freedom to try different models until you find one that works for your data.